@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
	ViewBag.Title = "TimeTable";
}

<h1>@ViewBag.Title</h1>

<p>
	Our academy offers a variety of classes throughout the week to accommodate your schedule and training needs.
	Whether you're a beginner looking to learn the fundamentals or an experienced practitioner seeking advanced training, we have classes for you.
	Check out our timetable below and start planning your training sessions today!
</p>
