@model IEnumerable<TimeTableModel>

<head>
	<link rel="stylesheet" type="text/css" href="~/css/TimeTable.css">
</head>
@{
	ViewData["Title"] = "Timetable";
}
<div class="text-center">
	<h1>@ViewBag.Title</h1>

	<p class="intro-paragraph">
		Our academy offers a variety of classes throughout the week to accommodate your schedule and training needs.
		Whether you're a beginner looking to learn the fundamentals or an experienced practitioner seeking advanced training, we have classes for you.
		Check out our timetable below and start planning your training sessions today!
	</p>
	<table>
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
		<tr>
			@foreach (Day day in Enum.GetValues(typeof(Day)))
			{
				<td>
					@foreach (var item in Model.Where(x => x.Day == day))
					{
						<div class="timetable-cell">
							@item.ClassType.ToString()
							@item.StartTime.ToString("hh:mm tt")<br />
						</div>
					}
				</td>
			}
		</tr>


	</table>

	<a class="btn btn-primary" asp-area="" asp-controller="Schedule" asp-action="GenerateTimetable">Testing</a>
</div>
