@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ResetPasswordRequest

@{
	ViewData["Title"] = "Forgot Password";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/ContactUs.css">
	<script src="~/js/formValidation.js"></script>
</head>

<div class="container">
	<h2 class="text-center">@ViewData["Title"]</h2>
	@if (!string.IsNullOrEmpty(ViewBag.PasswordResetMessage))
	{
		<div class="alert alert-success text-center">@ViewBag.PasswordResetMessage</div>
		<form asp-action="ResetPassword" method="post">
			<div class="form-group">
				<label for="passwordResetToken">Password Reset Token</label>
				<input type="passwordResetToken" class="form-control" id="passwordResetToken" name="passwordResetToken" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" required>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password</label>
				<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
			</div>
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Change Password</button>
		</form>
	}
	else
	{
		<form asp-action="PasswordResetRequest" method="post">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email" required>
			</div>
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Send Password Reset Link</button>

		</form>
	}


</div>