@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UserRegisterRequests

@{
	ViewData["Title"] = "User Registration";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/Forms.css" />
	<script src="~/js/formValidation.js"></script>
</head>
@if (!string.IsNullOrEmpty(ViewBag.RegistrationErrorMessage))
{
	<div class="alert alert-danger text-center">@ViewBag.RegistrationErrorMessage</div>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessfulRegistrationMessage) || !string.IsNullOrEmpty(ViewBag.IncorrectVerificationMessage))
{
	if (!string.IsNullOrEmpty(ViewBag.IncorrectVerificationMessage))
	{
		<div class="alert alert-danger text-center">@ViewBag.IncorrectVerificationMessage</div>
	}
	else
	{
		<div class="alert alert-success text-center">@ViewBag.SuccessfulRegistrationMessage</div>
	}
	<form asp-action="Verify" method="post">
		<div class="form-group">
			<label for="token">Verification Token</label>
			<input type="text" class="form-control" id="token" name="token" required>
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Verify</button>
		</div>
	</form>
}
else
{
	<div class="container">
		<h2 class="text-center">@ViewData["Title"]</h2>
		<form asp-action="Register" method="post">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" required>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password</label>
				<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
			</div>
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Register</button>
			<a class="nav-link text-decoration-underline" asp-area="" asp-controller="User" asp-action="UserLogin">Already have an Account?</a>
		</form>
	</div>
}

