@{
	ViewData["Title"] = "Home Page";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/Home.css">
</head>
<!-- TO DO
button needs logic to take you to the trail class form
need new photos
content is placeholder basically
js animations
 -->

<div class="text-center">
	<div class="background-container-div">
		<video autoplay muted loop class="banner">
			<source src="~/Media/20200529_171434.mp4" type="video/mp4" type="video/mp4">
		</video>
		<div class="background-container-content">
			<h1>Welcome to Lakeside Jiu Jitsu Academy</h1>

			<h2>Empower Yourself Through Brazilian Jiu Jitsu</h2>
			<button class="trial-class-button" onclick="window.location.href='@ViewBag.TrialLinkUrl'">Book a Free Trial Today!</button>
			<p>
				At Lakeside Jiu Jitsu Academy, we're more than just a martial arts school — we're a community dedicated to helping individuals of all ages and skill levels discover the transformative power of Brazilian Jiu Jitsu.
				Whether you're looking to learn self-defense, improve your fitness, or compete at the highest levels, our academy offers world-class instruction, state-of-the-art facilities, and a supportive environment to help you achieve your goals.
			</p>
		</div>
	</div>


	<div class="content-block">
		<div class="sub-element">
			<h2>Why Choose Us?</h2>
			<h3>Expert Instruction</h3>
			<p>Our team of experienced instructors is dedicated to helping you reach your full potential on and off the mat. With a focus on technique, strategy, and personal development, we provide the guidance and support you need to succeed.</p>

			<h3>Comprehensive Classes</h3>
			<p>
				From beginner fundamentals to advanced competition training, we offer a wide range of classes to suit your interests and skill level.
				Whether you're brand new to Jiu Jitsu or a seasoned practitioner, there's something for everyone at Lakeside Jiu Jitsu Academy.
			</p>

			<h3>State-of-the-Art Facilities</h3>
			<p>Train in a clean, safe, and professional environment equipped with top-of-the-line mats and training equipment. Our academy provides everything you need to optimize your training experience and maximize your potential.</p>

			<h3>Inclusive Community</h3>
			<p>Join a diverse and welcoming community of like-minded individuals who share a passion for Jiu Jitsu. Whether you're training for fun, fitness, or competition, you'll find camaraderie, support, and encouragement every step of the way.</p>
		</div>
		<div class="sub-element">
			<img src="~/Media/Photo1.jpg" alt="Lakeside Jiu Jitsu Academy" class="sub-element-photo">
		</div>
	</div>


	<div class="content-block">
		<div class="sub-element">
			<img src="~/Media/Photo1.jpg" alt="Lakeside Jiu Jitsu Academy" class="sub-element-photo">
		</div>
		<div class="sub-element">
			<h2>Our Classes</h2>


			<h3>Adult Classes</h3>
			<p>Beginner, Intermediate, Competitive</p>

			<h3>Kids Classes</h3>
			<p>Ages 5-8, 9-12, 12-15, 15-18</p>
		</div>
	</div>


	<div class="content-block">
		<div class="sub-element">
			<h2>Get Started Today</h2>

			<p>
				Ready to embark on your Jiu Jitsu journey? Sign up for a free trial class or contact us to learn more about our membership options.
				Whether you're a complete beginner or a seasoned athlete, we welcome you to join our community and discover the countless benefits of Brazilian Jiu Jitsu at Lakeside Jiu Jitsu Academy.
			</p>
			<button class="trial-class-button" onclick="window.location.href='@ViewBag.TrialLinkUrl'">Book a Free Trial Today!</button>
		</div>
		<div class="sub-element">
			<img src="~/Media/Photo1.jpg" alt="Lakeside Jiu Jitsu Academy" class="sub-element-photo">
		</div>
	</div>

	<div class="background-container-div">
		<img src="~/Media/Photo.jpg" alt="Lakeside Jiu Jitsu Academy" class="banner">
		<div class="background-container-content">
			<h2>Follow Us</h2>

			<p>Stay connected with us on social media for updates, events, and training tips:</p>
			<p>[Social Media Links]</p>
		</div>
	</div>

</div>
