@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Beginners Classes";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/Classes.css">
</head>
<div class="intro-paragraph">
	<h1>@ViewBag.Title</h1>
	<div class="content-block">
		<div class="sub-element">
			<p>
				intro paragraph about this class type
			</p>
		</div>
		<div class="sub-element">
			<img src="~/Media/Photo1.jpg" alt="Lakeside Jiu Jitsu Academy" class="sub-element-photo">
		</div>
	</div>
</div>


<div class="content-block class-benefits">
	<div class="sub-element">
		<ul>
			<li>Your child will be bully proof.</li>
			<li>They will develop discipline, respect, honour, leadership and self-confidence, and more.</li>
			<li>Your child will learn the most effective single martial art in the world.</li>
			<li>They’ll develop strength, physical fitness and mental fortitude.</li>
		</ul>
	</div>
	<div class="sub-element">
		<ul>
			<li>Your child will develop social skills and make quality friends.</li>
			<li>hey’ll have a safe, positive environment to grow.</li>
			<li>They will enjoy age-appropriate and safe games, activities and drills.</li>
			<li>Learn from experienced instructors who have all completed Working With Children Checks.</li>
		</ul>
	</div>
</div>

<div class="background-container-div">
	<img src="~/Media/Photo.jpg" alt="Lakeside Jiu Jitsu Academy" class="banner">
	<div class="background-container-content">
		<p>
			Ready to take the next step in your martial arts journey?
			Contact us today to schedule your first class and discover the endless possibilities of Brazilian Jiu Jitsu at our academy!
		</p>
		<button class="trial-class-button" onclick="window.location.href='@ViewBag.TrialLinkUrl'">Book a Free Trial Today!</button>
	</div>
</div>
