@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewBag.Title = "Our Classes";
}
<!--
    this shouldn't actually be a page there should be a page for each class type
-->
<h1>@ViewBag.Title</h1>

<p>Welcome to our Jiu Jitsu academy! Our classes offer a comprehensive approach to Brazilian Jiu Jitsu, 
    catering to practitioners of all levels, from beginners to advanced. Whether you're looking to improve your self-defense skills,
    get in shape, or compete at the highest levels, our classes provide a supportive and challenging environment to help you reach your goals.</p>

<p>For adults, we offer three levels of classes: beginner, intermediate, and competitive. Our foundational classes focus on fundamental techniques, positioning, and strategy, 
    perfect for beginners or those looking to refine their skills. As you progress, 
    our intermediate and advanced classes delve deeper into advanced techniques, transitions, and competition strategies, preparing you to excel both on and off the mat.</p>

<p> Led by experienced instructors who are passionate about sharing their knowledge and expertise, our classes prioritize safety, technique, and growth. 
    With a focus on individualized instruction and personalized feedback, 
    you'll receive the attention and guidance you need to thrive in your Jiu Jitsu journey.</p>

<p>For children, we offer classes tailored to four age groups: 5-8, 9-12, 12-15, and 15-18. 
    These classes provide a fun and engaging environment where kids can learn the fundamentals of Jiu Jitsu while developing important life skills such as discipline, respect, and confidence.</p>

<p> Whether you're interested in traditional Gi Jiu Jitsu, No-Gi grappling, or self-defense techniques, 
    our diverse class offerings have something for everyone. 
    Join our community of dedicated practitioners and experience the transformative power of Jiu Jitsu firsthand.</p>

<p>Ready to take the next step in your martial arts journey? Contact us today to schedule your first class and discover the endless possibilities of Brazilian Jiu Jitsu at our academy!</p>