@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
	ViewBag.Title = "Our Team";
}
<head>
	<link rel="stylesheet" type="text/css" href="~/css/OurTeam.css">
</head>
<div class="text-center">
	<h1>@ViewBag.Title</h1>

	<div class="content-block">
		<div class="sub-element">
			<img class="instructor-icon" src="~/Media/InstructorPhoto.jpg" alt="Instructor Icon" />
			<h3>NAME</h3>
			<h4>RANK</h4>
			<p>Description</p>
		</div>
		<div class="sub-element">
			<img class="instructor-icon" src="~/Media/InstructorPhoto.jpg" alt="Instructor Icon" />
			<h3>NAME</h3>
			<h4>RANK</h4>
			<p>Description</p>
		</div>
		<div class="sub-element">
			<img class="instructor-icon" src="~/Media/InstructorPhoto.jpg" alt="Instructor Icon" />
			<h3>NAME</h3>
			<h4>RANK</h4>
			<p>Description</p>
		</div>
		<div class="sub-element">
			<img class="instructor-icon" src="~/Media/InstructorPhoto.jpg" alt="Instructor Icon" />
			<h3>NAME</h3>
			<h4>RANK</h4>
			<p>Description</p>
			
		</div>
	</div>
</div>

